@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.skill {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  @media screen and (max-width: 899px) {
    width: 200px;
  }
  @media screen and (max-width: 630px) {
    width: 120px;
  }

  .skillContainer {
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    background-color: $bgColor;
    align-items: center;
    margin-bottom: 20px;
    @include flex(row, center, center, nowrap);
    @media screen and (max-width: 899px) {
      height: 60px;
      width: 60px;
    }
    @media screen and (max-width: 630px) {
      height: 30px;
      width: 30px;
    }
  }

  .skillIcon {
    height: 50%;
    width: 50%;
    @include bgSettings();

    transform: rotate(-45deg);

    &:hover {
      transform: rotate(315deg);
      transition: all 0.5s ease-in-out 0s;
    }
  }

  .skillInfo {
    padding: 15px 10px;

    .skillTitle {
      @include text(('Poppins', sans-serif), 26px, 1.2, 600);

      margin: 0;
      padding-bottom: 1rem !important;
      @media screen and (max-width: 630px) {
        font-size: 16px;
      }
    }

    .description {
      @include text(('Open Sans', sans-serif), 15px, 1.6, 500);
    }
  }
}
