@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.projectsBlock {
  padding: 100px 0;

  .projectsContainer {
    @include container();
    @include flex(column, center, center, nowrap);

    .projects {
      width: 100%;
      margin-top: 30px;
      @include flex(row, space-between, flex-start, wrap);
      @media screen and (max-width: 1266px) {
        justify-content: center;
      }
    }
  }
}
