@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.main {
  min-height: 100vh;
  padding: 100px 0;
  @include flex(row, center, center, wrap);

  .container {
    @include container();
    @include flex(row, space-around, center, wrap);
    .particles {
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.3;
      z-index: -1;
    }

    .greetings {
      @include flex(column, flex-start, flex-start, nowrap);

      span {
        @include text(("Poppins", sans-serif), 32px, 1.2, 600);
        @media screen and (max-width: 1143px) {
          align-items: center;
        }

        &:nth-child(2) {
          @include text(("Poppins", sans-serif), 50px, 1.2, 600);
          letter-spacing: 3px;
          margin: 10px 0;

          span {
            @include text(("Poppins", sans-serif), 50px, 1.2, 600);
            letter-spacing: 3px;
          }
        }

        &:nth-child(3) {
          span div {
            @include text(("Poppins", sans-serif), 32px, 1.8, 600);
            margin: 10px 0;
            @media screen and (max-width: 1143px) {
              align-items: center;
            }
          }
        }
      }
      @media screen and (max-width: 1143px) {
        align-items: center;
      }
    }

    .photo {
      position: relative;
      z-index: 1;
      margin-top: 20px;
      @media screen and (max-width: 1143px) {
        margin-top: 50px
      }

      .image {
        height: 400px;
        width: 300px;
        @include bgSettings();
        background-image: url('../../assets/image/genius.jpg');
        background-position: 80% 0;
        @media screen and (max-width: 600px) {
          height: 360px;
          width: 260px;
          transition: .5s;
        }

        &::before {
          position: absolute;
          content: '';
          height: 110%;
          width: 105%;
          border: 5px solid $secondaryTextColor;
          top: -15px;
          left: 15px;
          z-index: -1;
        }
      }
    }
  }
}




