@import '../../styles/sass/variables';

.title {
  & h2 {
    font-size: 56px;
    font-weight: 900 !important;
    color: $primaryTextColor;
    text-transform: uppercase;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
  }
  & span {
    color: $secondaryTextColor
  }
}



