@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  & h2 {
    @include text(('Poppins', sans-serif), 56px, 1.2, null);
    font-weight: 900 !important;
    margin: 0;
    text-transform: uppercase;
    @media screen and(max-width: 526px) {
      @include text(('Poppins', sans-serif), 36px, 1.2, null);
    }
  }

  & span {
    color: $secondaryTextColor;
  }
}
