@import '../common/styles/sass/variables';
.main {
    display: flex;
    height: 100vh;
    background-color: $bgColor;
    justify-content: center;
    align-items: center;
}


.greetings {
    width: 300px;
    background-color: $bgSecondColor;
    margin-left: 50px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: $bgSecondColor;
    margin-right: 50px;
}