@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.main {
  min-height: 100vh;
  padding: 100px 0;
  @include flex(row, center, center, wrap);
  background-color: $bgColor;

  .container {
    @include container();
    @include flex(row, space-around, center, wrap);
  }

  .greetings {
    @include flex(column, flex-start, flex-start, nowrap);
    padding: 10px;
    margin-left: 50px;
    @include text(("Poppins", sans-serif), 26px, 1.2, 600);
  }

  .photo {
    width: 300px;
    height: 400px;
    background-color: $bgSecondColor;
    margin-right: 50px;
    background-size: cover;
  }
}




