@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
.main {
    display: flex;
    height: 100vh;
    background-color: $bgColor;
    justify-content: center;
    align-items: center;
    .greetings {
       padding: 10px;
        margin-left: 50px;
        @include text(("Poppins", sans-serif), 26px, 1.2, 600);
    }
    .photo {
        width: 300px;
        height: 400px;
        background-color: $bgSecondColor;
        margin-right: 50px;
        background-size: cover;
    }
}




