@import '../../common/styles/sass/variables';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $bgThirdColor !important;
  @media screen and(max-width: 899px) {
    justify-content: center;
  }
  box-shadow: 0 2px 2px lightblue;
}