@import './common/styles/sass/variables';
.App {
    background-color: $bgColor;
}
::selection {
    background-color: #cfa144!important;
    color: #fff!important;
}
html {
    scroll-behavior: smooth;
}
