@import './common/styles/sass/variables';

.App {
  > div {
    &:nth-child(n) {
      background-color: $bgSecondColor;
    }

    &:nth-child(2n) {
      background-color: $bgColor;
    }
  }
}

::selection {
  background-color: #0062ff !important;
  color: #fff !important;
}

html {
  scroll-behavior: smooth;
}
