@import "./variables";

@mixin text($fontFamily, $fontSize, $lineHeight, $fontWeight, $color: $primaryTextColor) {
  font-size: $fontSize;
  font-family: $fontFamily;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $color;
}