$primaryTextColor: #fff;
$secondaryTextColor: #0062ff;
$bgColor: #212529;
$bgSecondColor: #3c3c3f;
$bgThirdColor: #111714;

$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$font-weight: 500;
