.footerBlock {

    background-color: hotpink;


}

.footerContainer {
  flex-direction: column;
    justify-content: flex-start;


}

.icon {
    height: 60px;
    width: 60px;
    background-color: rosybrown;

}


.title {
    background-color: #d5c2c2;
}

.socials {
    border: 1px blue solid;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}