@import '../common/styles/sass/variables';

.footerBlock {
    background-color: $bgColor;


}

.footerContainer {
  flex-direction: column;
    justify-content: flex-start;


}

.icon {
    height: 60px;
    width: 60px;
    background-color: $bgSecondColor;

}


.title {
    background-color: #d5c2c2;
}

.socials {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 ;
}