@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';
@import '../../common/components/button/button.module';

.educationBlock {
  padding: 100px 0;

  .container {
    @include container();
    @include flex(column, center, center, nowrap);
    gap: 36px;

    .courseTitle {
      color: $primaryTextColor;
      font-size: 24px;
    }

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      list-style: none;
      width: 100%;
      .item {
        width: 50%;
        @media screen and(max-width: 900px) {
          width: 100%;
        }
      }
      .link {
        align-items: center;
        display: flex;
        gap: 12px;
        min-height: 80px;
        color: $primaryTextColor;
        background-color: $bgColor;
        border: 3px solid $primaryTextColor;
        text-decoration: none;
        padding: 10px 16px;
        font-size: 1.1rem;
        svg {
          height: 32px;
          width: 32px;
          flex-shrink: 0;
          fill: $primaryTextColor;
          @media screen and(max-width: 700px) {
            height: 24px;
            width: 24px;
          }
        }

        &:hover {
          color: $bgColor;
          background-color: $primaryTextColor;
          svg {
            fill: $bgColor;
          }
        }
        @media screen and(max-width: 700px) {
          font-size: 1rem;
        }
      }
    }
  }
}
